
* {
   margin: 0;
   box-sizing: border-box;
   padding:0;}

nav {
    background-color: black;
    color: #fff;
}

ul {
    list-style: none;
    display: flex;
    gap:10px;
}

li {
    border: 1px solid rgb(235, 19, 19);
}


